{% extends 'base.html' %}
		{% block content %}
		<script>    
		     window.setTimeout(function(){
		       window.location.href = "/find_plagiarism";
		       }, 500000);
	 	</script>
		<div>
			<h1 style="text-align: center;">UnForge <span style="font-size: 15px">(beta)</span> - A source code plagiarism detector </h1>
			<ol>
				<li>
					<p>UnForge supports the following langages:</p></li>
					<ul>
						<li><b>	Python3</b></li>
						<li><b>	Java (9+)</b></li>
						<li><b>	C</b></li>
						<li><b>	C++ (14)</b></li>
						<li><b>	Javascript</b></li>
					</ul>
					<p>New languages comming soon :).</p>
				</li>
				<li>
					<p>Hilights the copied line.</p>
				</li>
				<li>
					<p>Instant Result</p>
				</li>
				<li>
					<p>Can see the previous test result.</p>
				</li>
				<li>
					<p>API Support available. visit <a href="/_unforge"> API </a></p>
				</li>
			</ol>
			<p><a href = '/find_plagiarism'>click here</a> to use it</p>
		</div>
		{% endblock %}